<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <center>
            <table width="400" border="0">
                <tr><td bgcolor="green">name</td><td bgcolor="green"> Danny Chan</td></tr>
                <tr><td>Photo</td><td><img src="peter.jpg" width="100"></td></tr>
                <tr><td bgcolor="yellow">age</td><td bgcolor="yellow">twlve</td></tr>
                <tr><td>gender</td><td>male</td></tr>
            </table>
        </center>
    </body>
</html>